<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandax.litemall.mapper.UserMapper">
  <resultMap id="BaseMap" type="com.pandax.litemall.bean.User">
    <result column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
  </resultMap>
  <select id="selectUserByName" resultMap="BaseMap">
    select id,username,password from cskaoyan_mall_user where username=#{username}
  </select>
  <select id="selectPermissionByUsername">

  </select>
</mapper>
